.searchBar {
    display: flex;
    justify-content: space-between;
    background-color: #F5F5F5;
    padding: 15px;
    margin: 0px 15px 0px 15px;
    border-radius: 10px;
    color: #808080;
}

.treeCardContainer {
    overflow-y: scroll;
}

.tree-card {
    display: flex;
    padding: 15px;
    border-style: none none solid none;
    border-width: 1px;
    border-color: #d4d4d4;
    height: 150px;
}

.tree-image {
    width: 120px;
    height: 120px;
    background-color: aqua;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 70%;

}

.tree-detail {
    width: 95%;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-left: 15px;

}

.tree-title {
    color: black;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.tree-status {
    display: flex;
    align-items: center;
    height: 20px
}

.status-prompt {
    color: #808080;
    font-size: 14px;
}


.call-to-action-container {
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: flex-end;
}

.status-tag {
    padding: 10px;
    left: 79px;
    top: 0px;
    border-radius: 25px;
    padding: 0px 8px 0px 8px;

}

.tag-active {
    /* width: 45px;
    height: 24px; */
    margin-left: 8px;
    left: 79px;
    top: 0px;
    font-size: 12px;
    font-weight: 700;
    border-radius: 25px;
    padding: 2px 8px 2px 8px;
    color: #4DB251;
    background-color: #DBF0DC;
}

.tag-inactive {
    /* width: 45px;
    height: 24px; */
    margin-left: 8px;
    left: 79px;
    top: 0px;
    font-size: 12px;
    font-weight: 700;
    border-radius: 25px;
    padding: 0px 8px 0px 8px;
    color: #A5A5A5;
    background-color: #F5F5F5;
}