.searchBar {
    display: flex;
    justify-content: space-between;
    background-color: #F5F5F5;
    padding: 15px;
    margin: 20px;
    border-radius: 10px;
    color: #808080;
}

.treeCardContainer {
    overflow-y: scroll;
}

.treeCard {
    background-color: aquamarine;
    color: red;
}