.searchBar {
    display: flex;
    justify-content: space-between;
    background-color: #F5F5F5;
    padding: 15px;
    margin: 20px;
    border-radius: 10px;
    color: #808080;
}

.treeCardContainer {
    overflow-y: scroll;
}

.tree-card {}

.tree-detail {}

.tree-title {
    color: black;
    font-size: 20px;
}

.tree-status {}

.status-prompt {
    color: #808080;
    font-size: 14px;
}


.call-to-action-container {}

.status-tag {
    padding: 10px
}

.status-tag-active {
    color: red
}

.status-tag-inactive {
    color: gray
}